.v-box-background {
    -fx-background-color: #f1eefc;
    -fx-border-width: 3px, 3px, 3px, 3px;
    -fx-border-color: #b7b8ff;
}

.h-box {
    -fx-border-color: #b7b8ff;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 5;
    -fx-background-color: #fdfdff;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #5c30cc;
}
.h-box-error {
    -fx-border-color: red;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 5;
    -fx-background-color: #fdfdff;
    -fx-background-radius: 5;
}

.label {
    -fx-text-fill: red;
    -fx-font-size: 16;
}
.label-header {
    -fx-text-fill: #5c30cc;
    -fx-font-size: 32;
}

.label-text {
    -fx-text-fill: #5a4bcb;
    -fx-font-size: 20;
}

.text-field {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-font-size: 16;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #f1eefc, #cecfff);
    -fx-text-fill: #5c30cc;
    -fx-border-color: #b7b8ff;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 16;
}
.button:pressed, .button:default:hover:pressed {
    -fx-background-color: linear-gradient(to bottom, #d9d8e2, #bdbee5);
    -fx-text-fill: #613dbc;
    -fx-border-color: #abace5;
    -fx-font-size: 16;
}
.v-box {
    -fx-background-color: rgba(167, 180, 255, 0.2);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #968dff;
}
.v-box-active {
    -fx-background-color: rgba(167, 180, 255, 0.5);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #968dff;
}